.service_item{
    padding: 1rem;
    border-bottom: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
}

.service_item h5{
    font-size: 1.1rem;
    font-weight: 600;
}

.service_item p{
    font-size: .9rem;
    color: var(--text-color);
}

.service_img{
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    line-height: 50px;
}

.service_img img{
    width: 100%;
}

@media only screen and (max-width:480px){
    .service_item{
        margin-bottom: 15px;
    }
}