.footer {
  margin-top: 0px;
  padding-top: 14px;
  box-shadow: 3px -3px 10px #ddd;
}

.footer .logo img {
  margin-top: -2rem;
}

.footer .logo p {
  color: var(--text-color);
}

.social_links {
  display: flex;
  gap: 1rem;
}

.social_links span a:hover {
  color: var(--secondary-color);
}

.social_links span a {
  color: var(--heading-color);
  font-size: 1.5rem;
}

.footer_link-title {
  color: var(--heading-color);
  margin-bottom: 1rem;
}

.footer_quick-links li a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 8px 14px;
  border-radius: 4px;
}

.footer_quick-links li a:hover {
  background: var(--secondary-color);
  color: #fff;
}

.footer_quick-links h6 span {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.copyright {
  font-size: 0.9rem;
  text-align: center;
  margin: 10px 0;
  color: var(--text-color);
}

.copyright span {
  color: var(--secondary-color);
  font-weight: 700;
}


/* --Media query Laptop */
@media only screen and (max-width:1400px){
  .footer_quick-links{
    width: 400px;
  }
  .footer{
    padding-bottom: 20px;
  }
}



@media only screen and (max-width: 480px) {
  .footer .logo {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
  }

  .discover {
    display: none;
  }

  .quick-container {
    display: none;
  }

  .contact {
    margin-top: 10px;
  }

  .footer_link-title {
    font-size: 18px;
  }

  .footer_quick-links h6 span {
    font-size: 18px;
  }

  .footer_quick-links p {
    font-size: 15px;
  }

  .footer_quick-links h6 {
    font-size: 15px;
  }
}
