.section_subtitle{
    background: var(--secondary-color);
    font-family: var(--subtitle-font-name);
    width: max-content;
    padding: 0.3rem 1rem;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--heading-color);
  }